:root {
    --Pink-color: #865DFF; 
    --light-pink-color: #E384FF;
    --white-color: #fff;
    --gray-color: rgba(153,153,153,.2);
}

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}


.Project-section, .About-section, .Contact-section {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color:black;
    min-height: 100vh;
}

.Contact-section {
    min-height: 80vh;
}

/* Start Hero section */

.main-img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.Hero-section, body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(images/Background-hero.jpg);
    min-height: calc(100vh - 55px);
}

.Hero-section h2{
    color: var(--white-color);
    font-size: 1.5em;
    font-weight: 700;
}

.Hero-section .cursor, .Project-section h1, .About-section h1, .Contact-section h1 {
    margin-top: 10px;
    color: var(--Pink-color);
    font-size: 3em;
    font-weight: 600;
}

.Hero-section h3, .Contact-section h3 {
    color: var(--white-color);;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.navbar-nav .nav-link {
    color: var(--white-color);;
}


.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:hover {
    color: var(--light-pink-color);
} 

.navbar-nav .nav-link.active {
    color: var(--light-pink-color);
}

/* End Hero section */

/* start Projects section */

.cards {
    box-shadow: 0px 0px 13px 5px var(--light-pink-color);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* End Projects section */


/* start About section */

.About-hed, .about-content, .contact-form {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.5;
    word-spacing: 0.1rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background: var(--gray-color);
    border-radius: 10px;
    font-weight: 900;
    color: #fff;
    font-size: 90%;
}

.About-section h3 {
    margin-top: 10px;
    color: var(--Pink-color);
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
}

.word-color {
    color: var(--Pink-color);
    font-weight: 700;
    text-decoration:none;
}

.about-contents {
    padding-left: 10px;
    padding-right: 10px;
} 

/* End About section */


/* start Contact section */

.Contact-section li p {
    margin-top: 10px;
    color: var(--Pink-color);
    font-size: 1.4rem;
    font-weight: 600;
}

/* End Contact section */

/* start Line and bottom Contact section */

.line {
    height: 7px;
    width: 60px;
    background: var(--light-pink-color);
    border-radius: 5px;
    opacity: 1.0;
}

.line-full {
    border-top: 3px solid var(--light-pink-color);
    margin: 0;
}

.cards-body {
    background-color: #fff;
    padding: 7px;
    border-bottom-right-radius: 12px;  
    border-bottom-left-radius: 12px;  
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 12px;  
    border-top-left-radius: 12px; 
}

.btn {
    
    color:var(--light-pink-color);
}

.btn-outline-danger {
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--light-pink-color);
    --bs-btn-hover-border-color: var(--light-pink-color);
    border-color: var(--light-pink-color);
    --bs-btn-active-bg: var(--gray-color);
    --bs-btn-active-border-color: var(--gray-color);
}

/* End Line and bottom Contact section */

/* start animation Header */

.back-img {
    animation-name: upDown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


.main-img {
    animation-name: right-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes right-left {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15px);
    }
}


.container {
  color: #e5e5e5;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.animation {
  height:100px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation-name: text-animation;
  animation: text-animation 8s infinite;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  30% {margin-top: 0;}
  50% {margin-top: -5.62rem;}
  70% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

/* End animation Header */


@media only screen and (max-width: 1000px) {
    
    .animation div{
        font-size: 2rem;
    } 
}

@media only screen and (max-width: 575px) {
    
    .about-contents {
        padding-left: 0px;
    } 
}

@media only screen and (max-width: 575px) {
    
    .about-contents {
        padding-left: 0px;
    } 
}
@media only screen and (min-width: 1330px) {
    
    .main-img {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 450px;
        height: 450px;
    }
}

